.services__wrapper {
	padding: 100px 0;
}

.services__items {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -50px;
}

.services__item {
	width: 25%;
}

.service {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 50px;
	text-align: center;
}

.service__img {
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	background-color: #f1c40f;
	margin-bottom: 15px;
}

.service__img_blue {
	background-color: #0faff1;
}

.service__img_gray {
	background-color: #95a5a6;
}

.service__img_red {
	background-color: #f1540f;
}

.service__name {
	font-size: 18px;
	font-weight: bold;
	color: #303030;
	margin-bottom: 10px;
}

.service__descr {
	font-size: 16px;
	line-height: 22px;
	color: #7e7e7e;
}

@media screen and (max-width: 910px) {
	.services__item {
		width: 50%;
		margin-bottom: 50px;
	}

	.services__item:last-child {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 775px) {
	.services__wrapper {
		padding: 60px 0;
	}

	.services__item {
		width: 100%;
	}
}
